body 
{
    background-image: url(jMusicBG.jpeg);
    font-family:      Trebuchet MS; 
}

h1
{
    text-align: center;
}

subheading
{
    font-weight: bold;
}

pre
{
    font-family: Courier; 
    font-size: 90%;
}

table.code-block
{
    background-color: #E0E0E0; /* pale grey */
}

.comment
{
    color: #00AF00; /* green */
}

.code
{
    font-family: Courier;
}

.view_source {
    font-style: italic;
}

.footer 
{   
    text-align: center;
}